footer {
  font-size: 70px;
  color: inherit;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 50px 50px;

  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);

  margin-top: auto;
}

table {
  text-align: center;
  margin: auto;
}

.credits {
  font-size: 10px;
  margin: auto;
}

#ampem-drawing {
  margin: 0 auto;
}

.creator-table thead {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
}

.creator-table section {
  margin-top: 15px;
}

.creator-table td {
  padding: 0 10px;
}

.creator-branches {
  font-size: 10px;
}
