footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url(../../backgrounds/background6.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  font-size: 70px;
  color: white;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  padding: 50px 50px;
  margin-top: 20px;
}
