header {
  padding: 15px 0;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), */
  /* url(../../backgrounds/background2.jpg); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; */
  color: inherit;

  /* border-bottom: 2px solid black; */
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

header p {
  font-size: 18px;
  text-align: right;
  margin: auto 50px 5px auto;
}

.nav-link {
  margin: auto;
  height: fit-content;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  padding: 5px 0;
  text-align: center;
  transition: border-color 250ms ease;
}

.nav-link:hover {
  border-bottom-color: #ff0000;
}

.nav-link span {
  width: fit-content;
}

@media only screen and (max-width: 614px) {
  #pangea {
    display: none;
  }
}

@media only screen and (max-width: 370px) {
  .nav-link {
    display: none;
  }
}
