.showlist-img {
  transition: width 250ms;
  width: 200px;
  border-radius: 5px;
  margin-right: 5px;
}

.showlist-img:hover {
  width: 250px;
}

.showlist-img:hover + p {
  color: #ff0000;
}

.movie-img {
  width: 400px;
}

.movie-img:hover {
  width: 450px;
}

.showlist-div {
  align-items: center;
  width: 260px;
  height: 200px;
  padding: 10px 15px;
  margin: 30px;
  border-radius: 30px;
}
.showlist-div:hover {
  background-color: rgba(210, 210, 210, 0.02);
}
.showlist-div p {
  margin: 10px 0 0px;
}

#searched-div {
  flex-wrap: wrap;
}
