body {
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 20px 250px;
  /* border:2px solid orange; */
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
#root .App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
