.showlist-img {
  height: 20px;
  border-radius: 5px;
  margin-right: 3px;
}

.showlist-div {
  padding: 5px 5px;
  margin: 5px 20px;
  border-radius: 5px;
  border: 2px solid rgba(210, 210, 210, 0.1);
}
.showlist-div:hover {
  background-color: rgba(210, 210, 210, 0.1);
}
.showlist-div p {
  margin: 0 0 10px;
}

#searched-div {
  flex-wrap: wrap;
}
